{% comment %} //UI 설명
정답 음성
비슷한 것 Top 10 소팅된 결과 + pitch 100 f1 20 등 목소리와 수치를 같이 보여줌 {% endcomment %}
{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
  <style>
    body
    {
      margin: 0 auto;
      width: 700px;
    }
    </style>
<head>
<title>Case 5</title>
<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}"/>

<meta charset="utf-8">  
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if IE]>
<style type="text/css" media="screen">
@import "ie.css";
</style>
<![endif]-->
</head>
<body>
<div id="topLine">
  <div id="header">
    <h1><span>목소리</span>변환<span>시스템</span></h1>
    <h2>다음의 목소리를 듣고, 목소리의 수치값을 참고하여 정답 음성과 가장 가까운 목소리를 선택해주세요.</h2>
  </div>
</div>
<div id="outerwarrper">
  <div id="wrapper">
    <div id="content">
      <h2>정답 음성</h2>
      <h3>아래의 음성은 정답 음성입니다. 이 음성과 가장 닮은 목소리를 찾아주세요.</h3>
      <div id="original_voice">
        <audio id="answer-voice-player" controls src="{{original_audio_url}}">
        </audio>
        <form method='POST'>
            {% csrf_token %}
            <button type="submit">유사한 목소리 Top10</button>
        </form>
      </div>

      {% if top10_desc %}
      <h2>정답 음성과 가장 비슷한 10개 음성</h2>
      <h3>아래의 목소리는 정답과 가장 비슷한 10개의 음성 목록입니다.</h3>
      <h3>음성 파일 아래쪽에는 목소리의 절대적인 수치값과 이를 바탕으로 정답 음성과의 유사도가 적혀있습니다.</h3>
      <h3>정답과 가장 비슷한 음성을 찾아주세요.</h3>
      <div id="original_voice">
        {% for data in top10_desc %}
        <div style="margin: 10px 0; width: 80%;">
          <audio id="player" controls src="{{data.url}}" style="width: 100%;">
          </audio>
          <div class="audio-result-container">
            <div>
              <span class="bold">유사도: </span> <span>{{data.euclidean}}</span>
            </div>
            
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}

     

      
    </div>
  </div>
</div>

</body>
</html>
