{% comment %} 정답 음성 + 해쉬태그
해시태그가 많이 겹치는 순으로 top 10 정렬 + 목소리 + 해쉬태그 보여주기 {% endcomment %}
{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" dir="ltr">
  <style>
    body
    {
      margin: 0 auto;
      width: 700px;
    }
    </style>
<head>
<title>Case 7</title>
<link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}"/>

<meta charset="utf-8">  
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--[if IE]>
<style type="text/css" media="screen">
@import "ie.css";
</style>
<![endif]-->
<style>
    .hashtag-container > span {
        margin-right: 8px;

    }
</style>
</head>
<body>
<div id="topLine">
  <div id="header">
    <h1><span>목소리</span>변환<span>시스템</span></h1>
    <h2>다음의 목소리를 듣고, 목소리를 표현하는 해쉬태그를 참고하여 정답 음성과 가장 가까운 목소리를 선택해주세요.</h2>
  </div>
</div>
<div id="outerwarrper">
  <div id="wrapper">
    <div id="content">
      <h2>정답 음성</h2>
      <h3>아래의 음성은 정답 음성입니다. 이 음성과 가장 닮은 목소리를 찾아주세요. </h3>
      <div id="original_voice">
        <audio id="answer-voice-player" controls src="{{original_audio_url}}">
        </audio>
        <form method='POST'>
          {% csrf_token %}
            <label for="slow">
              <input type="checkbox" value="느리다" id="slow" name="feature">
              느리다
            </label>
            <label for="low">
              <input type="checkbox" value="낮다" id="low" name="feature">
              낮다
            </label>
            <label for="monotonous">
              <input type="checkbox" value="모노톤이다" id="monotonous" name="feature">
              모노톤이다
            </label>
            
            <label for="clear">
              <input type="checkbox" value="명확하다" id="clear" name="feature">
              명확하다
            </label>
            
            <label for="precise">
              <input type="checkbox" value="발음이 정확하다" id="precise" name="feature">
              발음이 정확하다
            </label>
          <button type="submit">검색</button>
      </form>
      </div>

      {% if top10_desc %}
      <h2>해쉬태그 검색 결과</h2>
      <h3>정답 음성을 듣고, 다음의 선택지 중에 정답 음성을 잘 나타내는 해쉬태그를 선택해주세요. 중복 선택이 가능합니다. 해쉬태그를 선택하여 검색한 결과와 유사도를 참고하여 가장 비슷한 목소리를 선택해주세요.</h3>
      <div style="display: flex; justify-content: center; font-size: 16px; margin-top: 6px;">
    
        {% for label in feature_labels %}
          <span>#{{label}} &nbsp</span>
        {% endfor %}
      </div>
      <div id="original_voice">
        {% for data in top10_desc %}
        <div style="margin: 10px 0; width: 80%;">
          <audio id="player" controls src="{{data.url}}" style="width: 100%;">
          </audio>
          <div class="audio-result-container">
            <div>
              <span class="bold">유사도: </span> <span>{{data.euclidean}}</span>
            </div>
            
          </div>
        </div>
        {% empty %}
        <div style="display: flex; justify-content: center; font-size: 18px;">검색결과가 없습니다.</div>
        {% endfor %}
      </div>

     {% endif %}
      
    </div>
  </div>
</div>

</body>
</html>
